*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    /* border-box se jo bi element ki height width padding set ki..border usi ke andr fit hoga..element ke bahir space nai lega */
    border: border-box;

}

.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* nav box 1 */
.navLogo{
    height: 50px;
    width: 100px;

}
.logo{
    background-image: url("navLogo3.png");
    background-size: cover;
    height: 50px;
    width: 100%;
   
}


/* nav box 2 */
.deliverTo{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
}
.adress{
    display: flex;
    align-items: center;
}
.pakistan{
    font-size: 1rem;
    color: #ffffff;
    margin-left: 3px;
}

/* nav box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #febd68;
    width: 620px;
    height: 40px;
    border-radius: 4px;

}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-area{
    width:100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #0f1111;
}

/* nav box 4 and box 5*/
span{
    font-size: 0.75rem;
    color: white;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
    color: white;
}
/* nav box 5 */
/* to select all icons in nav-cart */
.nav-cart i{
    color: white;
    font-size: 30px;
}
.nav-cart{
    color:white;
    font-weight: 700;
    font-size: 0.85rem;
}

/* panel */
.panel{
    background-color: #222f3d;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;

}
/* to select all paragraphs in panel-options */
.panel-options p{
    display: inline;
    margin-left: 15px;
}
.panel-options{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */
.hero-section{
    background-image: url("heroImage.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
    
}
.hero-msg{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 40px;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 50px;
}
.hero-msg a{
    color: #007185;
}

/* shop section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 380px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
   
}
.box-image{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
    font-size: 0.85rem;
}

/* footer */
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37375a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    
    
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-logo{
    width: 100px;
    height:50px ;
    background-image: url(navLogo3.png);
    background-size: cover;
}

.foot-panel4{
    background-color:#0f1111 ;
    color: white;
   height: 80px;
  
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}



